@import url(../../styles/styles.css);

h1, h2 {
    margin: 0;
}

h1 {
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    width: var(--content-width);
    text-align: left;
}

.input_group {
    display: flex;
    gap: 30px;
}

.input_group div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

#font_family {
    border: none;
    margin: 0;
    font: inherit;
    resize: vertical;
    outline: none;
    display: block;
    width: calc(100% - 30px);
    height: 15px;
    padding-inline: 15px;
    padding-block: 10px;
    border-radius: var(--radius);
    background-color: var(--primary);
    box-shadow:
            3px 3px 6px #bebebe inset,
            -3px -3px 6px #ffffff75 inset;
    text-shadow: none;
    font-size: var(--font-xxs);
    color: var(--font-primary);
    opacity: 0.75;
}

/* Colour picker styles adapted from https://codepen.io/radiantsunrise08/pen/QWzJRbo */
input[type="color" i] {
    -webkit-appearance: none;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--primary);
    box-shadow:
            4px 4px 8px #bebebe,
            -4px -4px 8px #ffffff;
    cursor: pointer;
    padding: 0;
}

input[type="color" i]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color" i]::-webkit-color-swatch {
    border-radius: 50%;
}

input[type="color" i]::-moz-color-swatch {
    border-radius: 50%;
}

/* Range slider styles adapted from https://nikitahl.com/style-range-input-css */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 35px;
    margin: 0;
    border-radius: var(--radius);
    background: var(--primary);
    box-shadow:
            inset 2px 2px 5px #bebebe,
            inset -2px -2px 5px #ffffff;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary);
    box-shadow:
            4px 4px 8px #bebebe,
            -4px -4px 8px #ffffff95;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #e0e0e0;
    box-shadow:
            4px 4px 8px #bebebe,
            -4px -4px 8px #ffffff95;
    cursor: pointer;
}

input[type="checkbox"] {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
    font-size: 16px;
    background: #e0e0e0;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow:
            8px 8px 16px #bebebe,
            -8px -8px 16px #ffffff;
    cursor: pointer;
    user-select: none;
}


/* Adapted from shreyasm-dev on Uiverse.io */
#dark_mode input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#dark_mode {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}

#dark_mode span {
    margin-top: 15px;
}

.checkmark {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: var(--primary);
    border-radius: 100%;
    box-shadow: 3px 3px 5px #c5c5c5,
    -3px -3px 5px #ffffff;
    transition-duration: 0.5s;
}

#dark_mode input:checked ~ .checkmark {
    box-shadow: inset 3px 3px 5px #c5c5c5,
    inset -3px -3px 5px #ffffff;
}

.checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
}

#dark_mode input:checked ~ .checkmark:after {
    opacity: 1;
}

#dark_mode .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid darkgray;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}
