@import url(../styles/styles.css);
@import url(../styles/search.css);

#current_habits {
    display: block;
    margin-bottom: 30px;
}

section {
    width: var(--content-width);
    text-align: left;
}