@import url(../../styles/styles.css);

#canvas_container {
    width: var(--content-width);
}

table {
    table-layout: fixed;
    width: 100%;
    font-size: var(--font-xs);
}

th, td {
    padding: 8px 12px;
}