#search {
    border: none;
    margin: 0;
    font: inherit;
    resize: vertical;
    outline: none;
    display: block;
    border-radius: var(--radius);
    background-color: var(--primary);
    text-shadow: none;
    font-size: var(--font-xxs);
    color: var(--font-primary);
    opacity: 0.75;
}

#search:focus-within {
    padding: 15px;
    transition: box-shadow ease-in 150ms;
    box-shadow:
            3px 3px 6px #bebebe inset,
            -3px -3px 6px #ffffff75 inset;
}

ul {
    padding: 0;
    font-size: var(--font-sm);
}

ul li {
    padding-block: 7px;
}