@import url(../styles/styles.css);

section {
    width: var(--content-width);
    text-align: left;
}

#acquired {
    margin-top: 30px;
}

#list li {
    font-size: var(--font-sm);
    padding-block: 7px;
}